body{
    /**** CEST ICI QUE CA SE PASSE ****/
    display: grid; /*Transforme la balise body en contenur grid*/
    grid-template-rows: auto 1fr auto; /*défini la hauteur que les lignes 
de la grille doivent occuper. Auto correspond à la hauteur par défaut de 
la ligne (en fonction de ce qu'il y a dedans donc). Fr (fraction) permet 
d'occuper l'espace restant*/

    height: 100vh; /*vh (pour viewport height) permet de s'assurer que le 
body fera bien toute la hauteur de la surface d'affichage du navigateur*/
    /**********************************/

    font-family: Arial, Helvetica, sans-serif;
    margin: 0; /*à mettre si pas de normalize.css*/
}


#img_logo_site {
	width: 30%;
}

.background-image {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1;
	display: block;
	/* The image used */
	background-image: url("../../img/BACK.png");

	/* Add the blur effect */
	filter: blur(8px);
	-webkit-filter: blur(8px);

	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.content {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 9999;
	margin-left: 20px;
	margin-right: 20px;
}


.navbar {
	margin-bottom: 0;
	border: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-o-transition: all .6s;
	-moz-transition: all .6s;
	-webkit-transition: all .6s;
	-ms-transition: all .6s;
	transition: all .6s;
	background-color: rgba(255, 255, 255, -0.55) !important;
	padding: inherit;
}

.navbar ul {
	font-size: x-large;
	font-style: italic;
	font-weight: bold;
	--bs-dropdown-bg: rgb(161 158 158 / 14%);
}

.navbar ul li {
	margin-right: 15px;
}

footer {
	text-align: center;
	padding: 5px;
	color: #000;
	display: block;
}

main {
    height: 810px;
}



.container{width:100%; height:500px;display:table;border:1px solid red;text-align:center;}
.center{display:table-cell;vertical-align:middle;}
.content2{display:inline-block;text-align:center; border:1px solid green;}